{
  "theme": "base",
  "themeVariables": {
    "background": "#ffffff",
    "lineColor": "#000000",
    "textColor": "#000000",
    "primaryColor": "#ffffff",
    "primaryTextColor": "#000000",
    "primaryBorderColor": "#000000",
    "secondaryColor": "#ffffff",
    "tertiaryColor": "#f0f0f0",
    "clusterBkgColor": "#f0f0f0"
  }
}